@import '../core/reset';
@import '../core/variables';
@import '../core/mixins';

.hero {
    color: $color-primary2;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    &__subtitle {
        font-family: $font-main3;
        font-size: .85rem;
        font-style: italic;
        padding: 5px 0 10px;
        display: none;

        @include Tablet() {
            display: flex;
            font-size: 1.2rem;
            padding: 10px 0 5px;
        }
    }
}

.word {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .24rem;

    @include Tablet() {
        gap: .47rem;
    }

    &__column {
        width: 50px;
        height: 60px;
        padding: 2.3px;
        border: solid 1px $color-secondary;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__level1,
    &__level2,
    &__level3,
    &__level4,
    &__level5,
    &__level6 {
        display: flex;
        flex-direction: row;
        gap: .24rem;
        color: gray;
        font-size: 2rem;

        @include Tablet() {
            gap: .47rem;
            font-size: 2rem;
        }
    }

}

.keyboard {

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .26rem;

    @include Tablet() {
        gap: .5rem;
        margin-top: 5px;
    }

    &__row {
        display: flex;
        flex-direction: row;
        gap: .26rem;

        @include Tablet() {
            gap: .5rem;
        }

    }

    &__key {
        border-radius: 3px;
        height: 55px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        text-transform: uppercase;
    }
}