@import '../core/reset';
@import '../core/variables';
@import '../core/mixins';

.hero {
    color: $color-primary2;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    &__subtitle {
        font-family: $font-main3;
        font-size: 1.2rem;
        font-style: italic;
        padding: 10px 0 20px;
    }
}

.word {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    &__column {
        width: 50px;
        height: 60px;
        padding: 2.3px;
        border: solid 1px $color-secondary;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__level1 {
        display: flex;
        flex-direction: row;
        gap: .8rem;
        color: gray;
        font-size: 3rem;
    }

    &__level2 {
        display: flex;
        flex-direction: row;
        gap: .8rem;
        color: gray;
        font-size: 3rem;
    }

    &__level3 {
        display: flex;
        flex-direction: row;
        gap: .8rem;
        color: gray;
        font-size: 3rem;
    }

    &__level4 {
        display: flex;
        flex-direction: row;
        gap: .8rem;
        color: gray;
        font-size: 3rem;
    }

    &__level5 {
        display: flex;
        flex-direction: row;
        gap: .8rem;
        color: gray;
        font-size: 3rem;
    }

    &__level6 {
        display: flex;
        flex-direction: row;
        gap: .8rem;
        color: gray;
        font-size: 3rem;
    }
}

.keyboard {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    &__row {
        display: flex;
        flex-direction: row;
        gap: .6rem;

    }

    &__key {
        border-radius: 3px;
        height: 55px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        text-transform: uppercase;
    }
}