@import './core/reset';
@import './core/variables';
@import './core/mixins';

#root {
  height: 100%;
}

.App {
  width: 100vw;
  padding: 10px 10px;
  //height: 100vh;

  @include Desktop() {
    padding: 0 200px;
  }

  @include Tablet() {
    padding: 0 40px;
  }
}