@import './core/reset';
@import './core/variables';
@import './core/mixins';

// #root {
//   max-width: 1280px;
//   margin: 0 auto;
//   padding: 2rem;
//   text-align: center;
// }

.App {
  background-color: $color-primary3;
  width: 100vw;


  @include Desktop() {
    padding: 0 200px;
  }

  @include Tablet() {
    padding: 0 40px;
  }
}